///////////////////////////////////
//                      
//         LAY OUT SPECS
//
///////////////////////////////////

//
// BORDER RADIUS
//
$border-radius-l:0.2em;
$border-radius-m:0.4em;
$border-radius-x:1.2em;
$border-radius-xx:2em;


//
// BORDER WIDTH
//
$border-l:0.010em;
$border-m:0.150em;
$border-x:0.200em;
$border-xx:0.300em;

//
// PADDINGS
//
$padding-l:0.5em;
$padding-m:1em;
$padding-x:1.5em;
$padding-xx:2.5em;