/*
----------------------------
    @LOGIN PAGE  
----------------------------
*/
.page-template-login #header,
.page-template-login #footer {
    display: none;
}

.page-template-login main {
    display: flex;
    flex-direction: column;
    align-items: center;

    #loginform {
        width: 65%;
    }
}

.login-remember,
.login-submit,
.page-template-login #MainContainer,
.page-template-login article {
    display: flex;
    justify-content: center;
}

.login-username > label,
.login-password > label {
    display: block;
}

.logged-in main p a {
    margin: 20px auto;
    width: 250px;
}