/*
----------------------------
    @SIDEBAR 
----------------------------
*/
.sidebar {
    padding: 0px;
    background: $sidebar-bg-color;
    padding: 40px;
}

.sidebar ul {
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
.sidebar ul,
.sidebar li {
    list-style: none;
    a:before {
        content: '\f1ae';
        font-family: 'LineAwesome';
        font-size: $text-size;
        color: $branding-color1;
        margin: 0px 5px 0px 0px;
    }
}

.sidebar h3 {
    font-size:calc(1rem + 1vmin);
    line-height: $text-lh/1;
}